@import "../../assets/styles/color";

nav {
    z-index: 10;
    position: sticky;
    top: 0;
    background-color: darken($dark, 5);
    color: $white;
    height: 65px;
    border-bottom: 1px solid rgb(254, 128, 182);

    display: flex;
    align-items: center;
    justify-content: space-around;

    span {
        font-size: 1.5em;
        color: $red;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        li {
            text-decoration: none;
            
            a {
                line-height: 65px;
                color: $white;
                text-decoration: none;
                display: inline-block;
                padding: 0 15px;
                font-weight: 700;
                transition: all .7s ease-in-out;
                font-size: 1.2em;
                &:hover {
                    background-color: $red;
                    color: $dark;
                }
            }
        }
    }

}