@import "../../../assets/styles/color";

.container {
    margin-top: 0;
    min-height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container:nth-child(even) {
    background-color: darken($blue, 10%);
}
.container:nth-child(odd) {
    background-color: $dark;
}

.container__clippath {
    position: absolute;
    top: -100px;
    left: 0;
    min-width: 100%;
    height: 100px;
    z-index: 5;
    background-color: $dark;
    clip-path: polygon(0 0, 100% 100%, 100% 100%, 0% 100%);
}
