@import "../../../assets/styles/color";

.container {
    margin-top: 0;
    min-height: calc(100vh - 65px);
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: center;    
}