/**
 * ============================================================================ * Variables
 * ============================================================================ 
 */

$dark: #1f1f1f;
$blue: #27004b;
$red: #9911e7;
$yellow: #ffff00;
$purple: #4800643d;
$white: #f1f1f1;
$pink: #fe80b6;

$titre: 'Cormorant', serif;
$texte: 'Work Sans', sans-serif;


// Couleurs RGB
// $red: rgb(254, 128, 182);