/**
 * ============================================================================ * Variables
 * ============================================================================ 
 */

$dark: #1f1f1f;
$blue: #221057;
$blue: #330039;
$red: #FE80B6;
$yellow: #E4E414;
$purple: #D396EB;
$white: #f1f1f1;

$titre: 'Cormorant', serif;
$texte: 'Work Sans', sans-serif;


// Couleurs RGB
// $red: rgb(254, 128, 182);