@import "../../../../assets/styles/color";

.container__left {
    padding: 40px;
    max-width: 50%;
    margin-right: 100px;

    h1 {
        font-size: 6em;
        color: $red;
        padding-bottom: 40px;
        filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
    }
    p {
        font-size: 1.2em;
        letter-spacing: 1.6px;
        max-width: 100%;
        color: $white;
        text-align: justify;
    }
    .btn {
        padding: 15px 35px;
        margin: 60px;
        font-weight: 700;
        font-size: 1.2em;
        text-transform: uppercase;
        color: $white;
        background-color: $dark;
        outline: none;
        border: 1px solid $red;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        &:hover {
            color: $dark;
            background-color: $red;
            border: 1px solid $white;
        }
    }
}

.container__right {
    figure {
        max-width: 100%;
        padding: 30px;
        background-color: $dark;
        transition: background-color 0.5s ease-in-out;
        box-shadow: 0 0 20px rgba(0,0,0, 0.5);
        border: 1px solid $red;
        cursor: pointer;
        &:hover {
            background-color: $red;
            box-shadow: 
                inset 0 0 40px 25px rgba(0,0,0, 0.9);
            border: 1px solid rgba(255,255,255, 0.1)!important;            
        }
        img {
            max-width: 300px;
            filter: sepia(100%);
            transition: filter 0.5s ease-in-out;
            &:hover {
                filter: sepia(0%);
                box-shadow: 0 0 20px;
            }
        }
    }
}

